[include mcu/AFC_Lite.cfg]

[mcu CRUSH]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_3D003D000551333235393937-if00

[AFC_BoxTurtle CRUSH]
hub: CRUSH
extruder: extruder
enable_assist: True                    # Setting to True enables espooler assist while printing
enable_kick_start: True                # Setting to True enables full speed espoolers for kick_start_time(0.070 ms default) amount
buffer: SQUIRT

[temperature_sensor CRUSH]
sensor_type: temperature_mcu
sensor_mcu: CRUSH

[AFC_stepper lane1]
unit: CRUSH:1
step_pin: CRUSH:M1_STEP
dir_pin: !CRUSH:M1_DIR
enable_pin: !CRUSH:M1_EN
microsteps: 16
rotation_distance: 4.65
dist_hub: 155.5 
park_dist: 10
led_index: AFC_Indicator:1
afc_motor_rwd: CRUSH:MOT1_RWD
afc_motor_fwd: CRUSH:MOT1_FWD
afc_motor_enb: CRUSH:MOT1_EN
rwd_speed_multiplier: 0.5
fwd_speed_multiplier: 0.5
pwm: True
hardware_pwm: True
prep: ^!CRUSH:TRG1
load: ^CRUSH:EXT1

[tmc2209 AFC_stepper lane1]
uart_pin: CRUSH:M1_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper lane2]
unit: CRUSH:2
step_pin: CRUSH:M3_STEP
dir_pin: !CRUSH:M3_DIR
enable_pin: !CRUSH:M3_EN
microsteps: 16
rotation_distance: 4.65
dist_hub: 72.63 
park_dist: 10
led_index: AFC_Indicator:2
afc_motor_rwd: CRUSH:MOT2_RWD
afc_motor_fwd: CRUSH:MOT2_FWD
afc_motor_enb: CRUSH:MOT2_EN
rwd_speed_multiplier: 0.5
fwd_speed_multiplier: 0.5
pwm: True
hardware_pwm: True
prep: ^!CRUSH:TRG2
load: ^CRUSH:EXT2

[tmc2209 AFC_stepper lane2]
uart_pin: CRUSH:M2_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper lane3]
unit: CRUSH:3
step_pin: CRUSH:M2_STEP
dir_pin: !CRUSH:M2_DIR
enable_pin: !CRUSH:M2_EN
microsteps: 16
rotation_distance: 4.65
dist_hub: 70.72 
park_dist: 10
led_index: AFC_Indicator:3
afc_motor_rwd: CRUSH:MOT3_RWD
afc_motor_fwd: CRUSH:MOT3_FWD
afc_motor_enb: CRUSH:MOT3_EN
rwd_speed_multiplier: 0.5
fwd_speed_multiplier: 0.5
pwm: True
hardware_pwm: True
prep: ^!CRUSH:TRG3
load: ^CRUSH:EXT3

[tmc2209 AFC_stepper lane3]
uart_pin: CRUSH:M3_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper lane4]
unit: CRUSH:4
step_pin: CRUSH:M4_STEP
dir_pin: !CRUSH:M4_DIR
enable_pin: !CRUSH:M4_EN
microsteps: 16
rotation_distance: 4.65
dist_hub: 131.17 
park_dist: 10
led_index: AFC_Indicator:4
afc_motor_rwd: CRUSH:MOT4_RWD
afc_motor_fwd: CRUSH:MOT4_FWD
afc_motor_enb: CRUSH:MOT4_EN
rwd_speed_multiplier: 0.5
fwd_speed_multiplier: 0.5
pwm: True
hardware_pwm: True
prep: ^!CRUSH:TRG4
load: ^CRUSH:EXT4

[tmc2209 AFC_stepper lane4]
uart_pin: CRUSH:M4_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_hub CRUSH]
switch_pin: ^CRUSH:HUB           # Pin for the hub switch
afc_bowden_length: 1328.09       # Length of the Bowden tube from the hub to the toolhead sensor in mm.
move_dis: 50                     # Distance to move the filament within the hub in mm.
#hub_clear_move_dis: 65          # Distance after hub switch becomes fast to retract to insure hub is clear
cut: False                       # Hub cutter installed (e.g. Snappy)

#--=================================================================================--#
######### Hub Cut #####################################################################
#--=================================================================================--#
assisted_retract: False          # If True, retracts are assisted to prevent loose windows on the spool
cut_cmd: AFC                     # CMD to use
cut_dist: 50                     # How much filament to cut off (in mm).
cut_clear: 120                   # How far the filament should retract back from the hub (in mm).
cut_min_length: 300.0
cut_servo_pass_angle: 10         # Servo angle to align the Bowden tube with the hole for loading the toolhead.
cut_servo_clip_angle: 180        # Servo angle for cutting the filament.
cut_servo_prep_angle: 80         # Servo angle to prepare the filament for cutting (aligning the exit hole).

#[AFC_screen CRUSH]
#mac_address: None

[AFC_led AFC_Indicator]
pin: CRUSH:RGB1
chain_count: 4
color_order: GRBW

#[neopixel Extra2]
#pin: CRUSH:RGB2
#chain_count: 6
#color_order: GRB

#[neopixel Extra3]
#pin: CRUSH:RGB3
#chain_count: 6
#color_order: GRB

#[neopixel Extra4]
#pin: CRUSH:RGB4
#chain_count: 4
#color_order: GRB

[AFC_buffer SQUIRT]
advance_pin: ^CRUSH:TN_TRL    # set advance pin
trailing_pin: ^CRUSH:TN_ADV  # set trailing pin
multiplier_high: 1.05   # default 1.05, factor to feed more filament
multiplier_low:  0.95   # default 0.95, factor to feed less filament
